
<div class="row">
  <h5>{{ 'configurationTitle' | translate }}</h5>
  <p class="text-muted">{{ 'configurationGreetings' | translate }}</p>
</div>
<div class="row">
  <form ng-submit="submit()" class="col-md-12 well">
    <div class="form-group">
      <h6>Тип БД</h6>
      <ol id="report-db-type" ng-model="dbType" class="nya-bs-select">
        <li nya-bs-option="mod in (modules | unique:'type')" data-value="mod.type"><a>{{mod.type}}</a></li>
      </ol>
      <p class="help-block">{{ 'reportsModuleHelpBlock' | translate }}</p>
    </div>
    <div class="form-group">
      <h6>{{ 'reportsModuleHeader' | translate }}</h6>
      <ol id="report-module" ng-model="moduleName" class="nya-bs-select">
        <li nya-bs-option="mod in (modules | filterBy : ['type']: dbType)" data-value="mod.name"><a>{{mod.name}}</a></li>
      </ol>
      <p class="help-block">{{ 'reportsModuleHelpBlock' | translate }}</p>
    </div>
    <div class="form-group">
      <h6>{{ 'reportsServerHeader' | translate }}</h6>
      <ol id="report-server" ng-model="server" class="nya-bs-select">
        <li nya-bs-option="serv in servers"><a>{{serv}}</a></li>
      </ol>
      <p class="help-block">{{ 'reportsServerHelpBlock' | translate }}</p>
    </div>
    <p class="help-block">{{ 'connectionPrefsHelpBlockDebug' | translate }}:<a href="/api/v1/config/reports/" target="_blank">/api/v1/config/reports/</a></p>
    <button type="submit" class="btn btn-success">{{ 'acceptModuleSettingsBtn' | translate }}</button>
    <button type="button" ng-click="deleteSettings()" class="btn btn-danger">{{ 'deleteModuleSettingsBtn' | translate }}</button>
  </form>
</div>