
<div ng-show="state.isLoading">
  <refresh></refresh>
</div>
<div ng-show="state.loaded">
  <report report-data="report" report-error-text="errorText" refresh-report="loadReport(true)" reload-report="loadReport()"></report>
</div>
<div ng-show="!state.loaded &amp;&amp; !state.isLoading">
  <h3>{{'reportLoadingError' | translate }}</h3>
</div>