
<div id="schedCreate">
  <div class="modal-body">
    <div class="row">
      <label class="col-md-3 control-label">{{ 'colConnType' | translate }}</label>
      <div class="col-md-3">
        <ol id="report-db-type" ng-model="connType" class="nya-bs-select">
          <li nya-bs-option="mod in (modules | unique:'type')" data-value="mod.type"><a>{{mod.type}}</a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <label class="col-md-3 control-label">{{ 'colConnName' | translate }}</label>
      <div class="col-md-3">
        <ol id="report-server" ng-model="connName" class="nya-bs-select">
          <li nya-bs-option="serv in servers"><a>{{serv}}</a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <label class="col-md-3 control-label">{{ 'colModuleType' | translate }}</label>
      <div class="col-md-3">
        <ol id="report-module" ng-model="moduleType" class="nya-bs-select">
          <li nya-bs-option="mod in (modules | filterBy : ['type']: connType)" data-value="mod.name"><a>{{mod.name}}</a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <label class="col-md-3 control-label">{{ 'colRepName' | translate }}</label>
      <div class="col-md-3">
        <ol id="report-db-names" ng-model="repName" class="nya-bs-select">
          <li nya-bs-option="rep in (reports | filterBy : ['module']: moduleType)" data-value="rep.name"><a>{{rep.name}}</a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <label class="col-md-3 control-label">{{ 'colSchedule' | translate }}</label>
      <div class="col-md-5">
        <input type="text" ng-model="schedule" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="mess">{{mess}}</div>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <button ng-click="submit();" class="btn btn-primary">{{ 'Create'  | translate }}</button>
        <button ng-click="close();" class="btn btn-danger">{{'close' | translate}}</button>
      </div>
    </div>
  </div>
</div>