
<div ng-init="LoadInfoScheduler()"></div>
<div class="row">
  <p class="lead">{{ 'schedulerTitle' | translate }}</p>
</div>
<div class="row">
  <button ng-click="openAddItemSchedule()" class="btn btn-primary"><i class="glyphicon glyphicon-plus">{{ 'addRecordBtn' | translate }}</i></button>
</div>
<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{ 'colConnType'    | translate }}
          <th>{{ 'colConnName'    | translate }}</th>
          <th>{{ 'colModuleType'  | translate }}</th>
          <th>{{ 'colRepName'     | translate }}</th>
          <th>{{ 'colSchedule'    | translate }}</th>
          <th>{{ 'colIsEnabled'   | translate }}</th>
          <th>{{ 'colChangeSched' | translate }}</th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="col in dataSched">
        <td class="col-xs-2">{{col.connType}}</td>
        <td class="col-xs-2">{{col.connName}}</td>
        <td class="col-xs-2">{{col.moduleType}}</td>
        <td class="col-xs-2">{{col.repName}}</td>
        <td class="col-xs-2">{{col.schedule}}</td>
        <td class="col-xs-1">{{col.ctEnabled}}</td>
        <td>
          <button data-ng-click="isEnabled(col);" title="Enabled/Disabled" class="btn btn-xs"><i class="glyphicon glyphicon-list"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>