
<div id="settings-modal">
  <div class="modal-body">
    <div class="row">
      <h5>{{ 'applicationHeader' | translate }}</h5>
      <div class="col-md-2">
        <label>{{'lang' | translate}}</label>
      </div>
      <div class="col-md-10">
        <div role="group" class="btn-group">
          <button type="button" ng-repeat="lang in languages" ng-class="{active: current === lang}" ng-click="changeLang(lang)" class="btn btn-default">{{lang}}</button>
        </div>
      </div>
    </div>
    <div class="row text-right">
      <button ng-click="close()" class="btn btn-primary">{{'close' | translate}}</button>
    </div>
  </div>
</div>