
<div class="report">
  <div class="report-header well">
    <button type="button" ng-click="refreshReport()" class="btn btn-sm btn-primary btn-refresh pull-right"><i class="fa fa-database"></i>{{'refresh' | translate}}</button>
    <button type="button" ng-click="reloadReport()" class="btn btn-sm btn-default btn-refresh pull-right"><i class="fa fa-refresh"></i>{{'reload' | translate}}</button>
    <h6>{{reportData.name}}</h6>
    <p class="text-muted">{{reportData.description | translate}}</p>
  </div>
  <div class="report-tabs">
    <uib-tabset>
      <uib-tab heading="{{&quot;dataset&quot; | translate}} {{$index+1}}" ng-repeat="item in reportData.result" ng-show="multiSets" select="activateTab(item)" class="report-tab">
        <div ng-show="!reportError">
          <div ng-switch="reportData.component.name" class="report-container">
            <div ng-switch-when="graphTotalSizeOfDbReport" graph-total-size-of-db-report="item"></div>
            <div ng-switch-when="graphBarDbReport" graph-bar-db-report="item"></div>
            <div ng-switch-when="graphBarReport" graph-bar-report="item"></div>
            <div ng-switch-when="dateLineReport" date-line-report="item"></div>
            <div ng-switch-when="dateLinePlainReport" date-line-plain-report="item"></div>
            <div ng-switch-when="twoXYLinesReport" two-x-y-lines-report="item"></div>
            <div ng-switch-when="graphLineReport" graph-line-report="item"></div>
            <div ng-switch-default="ng-switch-default" table-raw-report="item"></div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
    <div ng-show="reportError">
      <div role="alert" class="alert alert-warning">
        <p><b>{{'reportError' | translate}}</b></p>
        <p>{{reportErrorText}}
          <p>{{'reportErrorMore' | translate}}</p>
        </p>
      </div>
    </div>
  </div>
</div>