.row
	h5 {{ 'configurationTitle' | translate }}
	p.text-muted {{ 'configurationGreetings' | translate }}

.row
	form.col-md-12.well(ng-submit='submit()')
		.form-group
			h6 Тип БД
			ol#report-db-type.nya-bs-select(ng-model='dbType')
				li(nya-bs-option="mod in (modules | unique:'type')", data-value='mod.type')
					a {{mod.type}}
			p.help-block {{ 'reportsModuleHelpBlock' | translate }}

		.form-group
			h6 {{ 'reportsModuleHeader' | translate }}
			ol#report-module.nya-bs-select(ng-model='moduleName')
				li(nya-bs-option="mod in (modules | filterBy : ['type']: dbType)", data-value='mod.name')
					a {{mod.name}}
			p.help-block {{ 'reportsModuleHelpBlock' | translate }}

		.form-group
			h6 {{ 'reportsServerHeader' | translate }}
			ol#report-server.nya-bs-select(ng-model='server')
				li(nya-bs-option='serv in servers')
					a {{serv}}

			p.help-block {{ 'reportsServerHelpBlock' | translate }}

		p.help-block {{ 'connectionPrefsHelpBlockDebug' | translate }}:
			a(href='/api/v1/config/reports/',target='_blank') /api/v1/config/reports/
		button.btn.btn-success(type='submit') {{ 'acceptModuleSettingsBtn' | translate }}
		button.btn.btn-danger(type='button', ng-click='deleteSettings()') {{ 'deleteModuleSettingsBtn' | translate }}
