
<table class="table table-hover table-raw">
  <tr>
    <th ng-repeat="header in preparedData.headers" ng-style="header.style">{{header.displayName}}</th>
  </tr>
  <tr ng-repeat="row in preparedData.rows" class="ng-animate-disabled">
    <td ng-repeat="column in row track by $index">{{column}}</td>
  </tr>
</table>