<!DOCTYPE html>
<html ng-app="nodeServerAuditor">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">
    <title>Reports Generator</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/lib/css/bower.css">
  <link rel="stylesheet" type="text/css" href="/main.min.css">
  <body ng-cloak ng-controller="bodyCtrl">
    <!-- Begin page content-->
    <nav role="navigation" class="navbar navbar-static-top">
      <div class="settings-button">
        <button ng-click="openSettingsModal();" class="btn btn-link btn-sm"><i class="fa fa-cog fa-2x"></i></button>
      </div>
      <div class="settings-reports">
        <button id="settings-reports" ng-click="openSettingsReport();" class="btn btn-link btn-sm"><i class="fa fa-cogs fa-2x"></i></button>
      </div>
      <div class="navbar-inner">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/" ng-click="route(&quot;/&quot;)" ng-init="authTab = mainTabs.add({name: &quot;auth&quot;})">{{ "mainPage" | translate }}</a></li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" ng-init="reportsTab = mainTabs.add({name: &quot;reports&quot;})" ng-click="routeActiveReport();loadMenu();" class="dropdown-toggle">{{ "reports" | translate }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li ng-repeat="report in pars" class="dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{report.section}}</a>
                <ul class="dropdown-menu">
                  <li ng-repeat="item in report.reports"><a href="#" ng-click="route(&quot;/reports/&quot; + item.name)">{{item.name}}</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="active"><a href="#" ng-init="schedTab = mainTabs.add({name: &quot;scheduler&quot;})" ng-click="route(&quot;/scheduler&quot;)">{{ "Scheduler" | translate }}</a></li>
        </ul>
      </div>
    </nav>
    <div ng-view class="page-content"></div>
    <script type="text/javascript" src="/lib/js/bower.js"></script>
    <script type="text/javascript" src="/main.min.js"></script>
  </body>
</html>